.dashboard-card {

  background: var(--bg-card);

  border: 1px solid var(--border-color);

  border-radius: 16px;

  overflow: hidden;
}

.dashboard-card-header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 20px;

  border-bottom: 1px solid var(--border-color);
}

.dashboard-card-header h3 {
  font-size: 15px;
  font-weight: 600;
  width: 80%;
}

.dashboard-card-body {
  padding: 20px;
  width: 80%;
}